@model EMS.Entity.Location

@{
    ViewData["Title"] = "Location Details";
}

<div>
    <h4>Location Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <partial model="@Model.Id" name="~/Views/Shared/PartialView/_Edit_Back.cshtml" />
</div>
