@model IEnumerable<EMS.Entity.Location>

@{
    ViewData["Title"] = "Index";
}

<h1>All Locations</h1>

<table class="table table-hover table-responsive-sm table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                <partial name="~/Views/Shared/PartialView/_Create.cshtml" />
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <partial name="~/Views/Shared/PartialView/_Edit_Details_Delete.cshtml" model="item.Id" />
            </td>
        </tr>
}
    </tbody>
</table>
